
<div>
    <h2><span data-translate="bakeryTpvApp.producto.detail.title">Producto</span> {{vm.producto.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row jh-entity-details">
        <dt><span data-translate="bakeryTpvApp.producto.nombre">Nombre</span></dt>
        <dd>
            <span>{{vm.producto.nombre}}</span>
        </dd>
        <dt><span data-translate="bakeryTpvApp.producto.imagen">Imagen</span></dt>
        <dd>
            <div ng-if="vm.producto.imagen">
                <a ng-click="vm.openFile(vm.producto.imagenContentType, vm.producto.imagen)">
                    <img data-ng-src="{{'data:' + vm.producto.imagenContentType + ';base64,' + vm.producto.imagen}}" style="max-width: 100%;" alt="producto image"/>
                </a>
                {{vm.producto.imagenContentType}}, {{vm.byteSize(vm.producto.imagen)}}
            </div>
        </dd>
        <dt><span data-translate="bakeryTpvApp.producto.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{vm.producto.descripcion}}</span>
        </dd>
        <dt><span data-translate="bakeryTpvApp.producto.precio">Precio</span></dt>
        <dd>
            <span>{{vm.producto.precio}}</span>
        </dd>
        <dt><span data-translate="bakeryTpvApp.producto.tipo">Tipo</span></dt>
        <dd>
            <a ui-sref="tipo-detail({id:vm.producto.tipo.id})">{{vm.producto.tipo.nombre}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="producto-detail.edit({id:vm.producto.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
